.latest-products
{
    padding : 0 20px 0 20px;
}
.heading
{
    margin-bottom : 20px;
    text-align : center;
    padding : 20px 20px;
    background-color : rgb(245, 245, 245);
}
.heading p
{
    font-size : 25px;
    font-weight : 450;
    position : relative;
    z-index : 2;
}
.heading p::after
{
    content : '';
    position : absolute;
    height : 30px;
    left : 0;
    bottom :0;
    width : 0;
    background : orange;
    transition : width 0.5s;
    z-index : -3;
}
.heading p:hover:after
{
    width : 100%;
}
.product-card
{
    box-shadow : 1px 1px 8px rgba(0,0,0,0.3);
    padding : 20px 10px 20px 10px;
    border-radius : 10px;
}
.products-grid
{
    display : grid;
    grid-template-columns : 1fr 1fr 1fr 1fr;
    column-gap : 20px;
    row-gap : 40px;
}
.product-image
{
    position : relative;
}
.product-image img
{
    width : 100%;
    transition : transform 0.5s;
}
.product-image img:hover
{
    transform : scale(1.2);
}
.product-info 
{
    line-height : 25px;
}
.checked
{
    color : orange;
}
.brands-page
{
    padding : 30px 10px 20px 10px;
    margin-top : 100px;
    background-color : rgb(245, 245, 245);
    margin-bottom : 450px;
}
.brands-container
{
    display : grid;
    grid-template-columns : 1fr 1fr 1fr 1fr 1fr;
}
.brands-container img
{
    width : 160px;
    transition : transform 0.4s;
    cursor : pointer;
}
.brands-container img:hover
{
    transform : scale(1.2);
}
.brands-page div
{
    text-align : center;
    padding : 20px 20px;
}
.brands-page h2
{
    font-family : "Bebas Neue", sans-serif;
    font-size : 40px;
    font-style : italic;
}
.summer-special-ad img
{
    width : 100%;
    height : 350px;
    /* object-fit : cover;
    object-position : center; */
    margin : 100px 0px 30px 0px;
    cursor : pointer;
    /* clip-path: polygon(0% 1%, 23% 4%, 48% 1%, 73% 4%, 99% 1%, 99% 100%, 77% 95%, 54% 100%, 28% 95%, 0% 99%); */
    clip-path: polygon(0% 1%, 12% 4%, 22% 1%, 33% 3%, 42% 1%, 52% 4%, 62% 1%, 74% 4%, 89% 0%, 100% 3%, 100% 95%, 91% 100%, 79% 96%, 67% 100%, 55% 96%, 44% 100%, 33% 96%, 23% 100%, 12% 96%, 0% 99%);

}
.fixed-footer
{
    display : flex;
    flex-direction : column;
    justify-content : space-between;
    align-items : center;
    position : fixed;
    width : 100%;
    height : 350px;
    background-image : url('Manto@1x-10.0s-1536px-776px.png');
    background-size : cover;
    background-position:center; 
    left : 0;
    bottom : 0;
    z-index : -100;
    border-top-left-radius : 100px;
    border-top-right-radius : 100px;
}
.whole-page
{
    background : rgb(255, 253, 250);
}
.social-media-icons
{
    display : flex;
    flex-direction : row;
    justify-content : center;
    align-items : start;
    margin-bottom : 25px;
    
}
.social-media-icons i
{
    margin-left : 80px;
    font-size : 40px;
    transition : transform 0.3s;
}
.social-media-icons i:hover
{
    transform : translateY(-13px);
}
.nav-menu
{
    display : flex;
    flex-direction : row;
    justify-content : center;
    align-items : center;
    margin-top : 40px;
    font-size : 25px;
}
.nav-menu li a
{
    margin-left : 20px;
    transition : color 0.3s;
}
.nav-menu li a:hover
{
    color : white;
}
.copyright 
{
    margin-bottom : 20px;
}
.water-mark img
{
    width : 200px;
}
.footer 
{
    display : flex;
    flex-direction : column;
    justify-content : space-between;
    align-items : center;
    /* position : fixed; */
    width : 100%;
    height : 350px;
    background-image : url('Manto@1x-10.0s-1536px-776px.png');
    background-size : cover;
    background-position:center; 
    left : 0;
    bottom : 0;
    z-index : -100;
    border-top-left-radius : 100px;
    border-top-right-radius : 100px;
}